/* BEGINNING OF RESET STYLESHEET */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

/* END OF RESET STYLESHEET */




/* MY CODE STARTS FROM HERE*/

html,
body {
    height: 100%;
    width: 100vw;
}

.index-body {
    background: linear-gradient(rgba(109, 131, 152, 0.35), rgba(78, 94, 109, 0.35), rgba(0, 0, 0, 0.35)), url(images/index-bg.jpg);
    background-repeat: no-repeat;
    background-position: center 0%;
    background-attachment: fixed;
}

.profile-body {
    background: linear-gradient(rgba(109, 131, 152, 0.35), rgba(78, 94, 109, 0.35), rgba(0, 0, 0, 0.35)), url(images/aboutme-bg.jpg);
    background-repeat: no-repeat;
    background-position: 10% 40%;
    background-attachment: fixed;
}

.portfolio-body {
    background: linear-gradient(rgba(100, 124, 152, 0.35), rgba(26, 26, 27, 0.35)), url(images/portfolio-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    z-index: 1000;
}

nav .logo {
    margin: 48px auto auto auto;
    padding-left: 30px;
}

.btn-toggle-nav {
    width: 30px;
    height: 19px;
    margin-right: 57px;
    margin-top: 53px;
    background-image: url(images/burger-menu.svg);
    background-repeat: no-repeat;
    background-size: 29px;
    background-position: center;
    cursor: pointer;
}

.nav-slidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 0px;
    background-color: #1c1c1c;
    opacity: 0.94;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}

.nav-slidebar ul {
    overflow: hidden;
    visibility: hidden;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.nav-slidebar ul li {
    line-height: 80px;
    list-style: none;
}

.nav-slidebar ul li a {
    display: block;
    height: 80px;
    text-decoration: none;
    color: #ffaf75;
    font-family: 'Pinyon Script', cursive;
    font-size: 70px;
    white-space: nowrap;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}


.page-content {
    min-height: 100%;
    text-align: center;
}

.page-content::after {
    content: "";
    display: block
}

footer,
.page-content::after {
    height: 135px;
}

.footer-text1 {
    font-family: 'Rajdhani', sans-serif;
    text-decoration: none;
    color: #ffaf75;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    padding-top: 19px;
}

.footer-text2 {
    font-family: 'Rajdhani', sans-serif;
    text-decoration: none;
    color: #ffaf75;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    padding-top: 12px;
}

.social-media-box {
    width: 100%;
    text-align: center;
    padding-top: 16px;
}

.sm-btn {
    display: inline-block;
    width: 32px;
    color: #ffaf75;
    margin: 0 13px;
    font-size: 28px;
    transition: 0.4s;
}

.sm-btn:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.h1-main {
    display: block;
    color: #ffaf75;
    font-family: 'Pinyon Script', cursive;
    font-size: 76px;
    padding-top: 404px;
    font-weight: 100;
}

.h2-main {
    display: block;
    color: #ffaf75;
    font-family: 'Pinyon Script', cursive;
    font-size: 48px;
    font-weight: 100;
    padding-top: 7px;
}

.profile-page-content {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 120px auto 0 auto;
    grid-template-columns: 45vw 45vw;
    grid-template-areas:
        'pic item2'
        'pic item3'
        'pic item4';

}

.profile-item-1 {
    grid-area: pic;
}

.profile-item-1 img {
    width: 40vw;
    border-radius: 10px;
}

.profile-item-2 {
    grid-area: item2;
    font-family: 'Rajdhani', sans-serif;
    color: #ffaf75;
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    margin: 20px 24px 0 24px;
}

.profile-item-3 {
    grid-area: item3;
    font-family: 'Pinyon Script', cursive;
    color: #ffaf75;
    font-size: 28px;
    font-weight: 500;
    margin-top: 20px;
}

.profile-item-4 {
    grid-area: item4;
    font-family: 'Rajdhani', sans-serif;
    color: #ffaf75;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    margin: auto 24px;
}

.portfolio-page-content {
    display: grid;
    width: 95vw;
    justify-content: center;
    margin: 120px auto 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 15px;
}

.portfolio-page-content h1 {
    font-family: 'Rajdhani', sans-serif;
    color: #ffaf75;
    font-size: 1.7rem;
    font-weight: 500;
    padding-bottom: 20px;
}

.portfolio-page-content h2 {
    font-family: 'Rajdhani', sans-serif;
    color: #ffaf75;
    font-size: 1.3rem;
    font-weight: 600;
}

.portfolio-page-content h3 {
    font-family: 'Rajdhani', sans-serif;
    color: #ffaf75;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: right;
}

.portfolio-page-content a {
    text-decoration: none;
}

.portfolio-page-content p {
    font-family: 'Rajdhani', sans-serif;
    color: #ffaf75;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 25px;
    width: 80%;
    padding-top: 3px;
}

.assignment-box {
    border-style: solid;
    border-width: 2px;
    border-color: #ffaf75;
    border-radius: 10px;
    text-align: left;
    padding: .7em;
    transition: .6s;
    margin-bottom: 15px;
}

.assignment-box:hover {
    background: rgba(255, 175, 117, 0.15);
}

.portfolio-item-content {
    display: grid;
    width: 95vw;
    justify-content: center;
    margin: 120px auto 0 auto;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-column-gap: 15px;
}

.portfolio-item-content h1 {
    font-family: 'Rajdhani', sans-serif;
    color: #ffaf75;
    font-size: 1.8rem;
    font-weight: 500;
    padding-bottom: 20px;
}

.assignment-name {
    display: flex;
    justify-content: center;

}

.assignment-name h2 {
    display: inline-block;
    width: auto;
    font-family: 'Rajdhani', sans-serif;
    color: #ffaf75;
    font-size: 1.3rem;
    font-weight: 500;
    margin-right: 20px;
    padding-top: 4px;
}

.assignment-name a, #walle-images a{
    display: inline-block;
    font-family: 'Rajdhani', sans-serif;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 400;
    text-decoration: none;
    border-style: solid;
    border-width: 2px;
    border-color: #ffaf75;
    border-radius: 8px;
    text-align: center;
    padding: 3px 12px 1px 12px;
    transition: .6s;
}

.assignment-name a:hover, #walle-images a:hover {
    background: rgba(255, 175, 117, 0.15);
}

#walle-images a{
    margin: 10px 0;
}

.item-box {
    width: 70vw;
    margin: 20px auto 0 auto;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        't1-01 t1-02 t1-03'
        't1-04 t1-04 t1-04'
    ;
    grid-gap: 20px;
}

.item-box p {
    display: block;
    font-family: 'Rajdhani', sans-serif;
    color: #ffaf75;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 25px;
    text-align: left;
}

.item-box img {
    width: 100%;
    margin: 0 auto;
}

.t1-01 {
    grid-area: t1-01;
}

.t1-02 {
    grid-area: t1-02;
}

.t1-03 {
    grid-area: t1-03;
}

.t1-04 {
    grid-area: t1-04;
}

#walle-images, #walle-images2 {
    height: 100%;
}

#walle-images img, #walle-images2 img {
    margin-bottom: 50px;
}

#footer {
    margin-top: -120px;
}



/* TABLET SCREEN BEGINNING */

@media only screen and (max-width:1300px) {

    nav .logo {
        padding-left: 57px;
    }

    .nav-slidebar ul li a {
        font-size: 50px;
    }

    .profile-page-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            'pic'
            'item2'
            'item3'
            'item4';
        justify-content: center;
        align-items: center;
        grid-row-gap: 15px;
    }

    .profile-item-1 {
        margin: 0px auto;
    }

    .profile-item-1 img {
        width: 80vw;
        max-width: 530px;
        border-radius: 10px;
    }

    .profile-item-2 {
        width: 65vw;
        max-width: 500px;
        font-size: 22px;
        line-height: 30px;
        margin: 10px auto 0 auto;
    }

    .profile-item-3 {
        font-size: 28px;
        margin-top: 20px;
    }

    .profile-item-4 {
        width: 75vw;
        max-width: 550px;
        font-size: 18px;
        line-height: 25px;
        margin: 0 auto;
    }

    .portfolio-page-content {
        display: grid;
        width: 90vw;
        justify-content: center;
        margin: 120px auto 0 auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 15px;
    }


    .portfolio-page-content p {
        line-height: 20px;
        width: 100%;
        padding-top: 3px;
    }

    .item-box {
        width: 85vw;
        margin: 20px auto 0 auto;
        justify-content: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            't1-01 t1-02'
            't1-03 t1-03'
            't1-04 t1-04'
        ;
        grid-gap: 20px;
    }

    .item-box p {
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 25px;
        text-align: left;
    }

    #footer {
        margin-top: -120px;
    }

}

@media only screen and (max-width:700px) {

    .portfolio-page-content {
        display: grid;
        width: 90vw;
        justify-content: center;
        margin: 120px auto 0 auto;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-column-gap: 15px;
    }


    .portfolio-page-content h2 {
        font-size: 1.1rem;
    }

    .portfolio-page-content h3 {
        font-size: 1.1rem;
    }

    .portfolio-page-content p {
        font-size: 1.1rem;
    }

}

/* TABLET SCREEN ENDING */


/* MOBILE SCREEN BEGINNING */

@media only screen and (max-width:415px) {

    .index-body {
        background: linear-gradient(rgba(109, 131, 152, 0.35), rgba(78, 94, 109, 0.35), rgba(1, 1, 1, 0.35)), url(images/index-bg-mobile.png);
        background-repeat: no-repeat;
        background-position: center 0%;
    }

    .profile-body {
        background: linear-gradient(rgba(109, 131, 152, 0.35), rgba(78, 94, 109, 0.35), rgba(1, 1, 1, 0.35)), url(images/aboutme-bg.jpg);
        background-repeat: no-repeat;
        background-position: center 30%;
    }

    .portfolio-body {
        background: linear-gradient(rgba(109, 131, 152, 0.7), rgba(109, 131, 152, 0.7)), url(images/portfolio-bg.jpg) no-repeat center center fixed;
            -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    }

    nav .logo {
        margin-top: 38px;
        padding-left: 24px;
    }

    nav .logo img {
        height: 17px;
        width: 130px;
    }

    .btn-toggle-nav {
        width: 18px;
        height: 12px;
        margin-right: 24px;
        margin-top: 40px;
        background-image: url(images/burger-menu-mobile.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        cursor: pointer;
    }

    .nav-slidebar ul {
        margin-top: 149px;
        display: grid;
        height: 370px;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .h1-main {
        font-size: 40px;
        padding-top: 314px;
    }

    .h2-main {
        font-size: 28px;
        padding-top: 7px;
    }

    .profile-page-content {
        display: grid;
        grid-template-areas:
            'pic'
            'item2'
            'item3'
            'item4';
        justify-content: center;
        align-items: center;
        grid-row-gap: 15px;
    }

    .profile-item-1 img {
        height: 200px;
        width: auto;
        border-radius: 7px;
    }

    .profile-item-2 {
        font-size: 18px;
        line-height: 25px;

    }

    .profile-item-3 {
        font-size: 24px;
    }

    .profile-item-4 {
        font-size: 16px;
        line-height: 25px;
    }

    .item-box {
        width: 90vw;
        margin: 20px auto 0 auto;
        justify-content: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            't1-01'
            't1-02'
            't1-03'
            't1-04'
        ;
        grid-gap: 20px;
    }

    .assignment-name h2 {
        font-size: 1rem;
        margin-right: 5px;
    }

    .item-box p {
        font-size: 1rem;
        font-weight: 400;
        line-height: 25px;
        text-align: left;
    }

    #footer {
        margin-top: -90px;
    }


}

/* MOBILE SCREEN ENDING */
